<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<title>emplist</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
	</head>
	<body>
		<div id="wrap">
			<div id="top_content"> 
				<div id="header">
					<div id="rightheader">
						<p>
							2021/11/20
							<br />
							<a th:if="${session.user!=null}" th:href="@{/user/logout}">Sign out</a>
							<a th:if="${session.user==null}" th:href="@{/login}">Login</a>
						</p>
					</div>
					<div id="topheader">
					</div>
					<div id="navigation">
					</div>
				</div>
				<div id="content">
					<p id="whereami">
					</p>
					<h1>
						Welcome <span th:if="${session.user!=null}" th:text="${session.user.username}"></span>
					</h1>
					<table class="table">
						<tr class="table_header">
							<td>
								Id
							</td>
							<td>
								Name
							</td>
							<td>
								Avatar
							</td>
							<td>
								Salary
							</td>
							<td>
								Birthday
							</td>
							<td>
								Operation
							</td>
						</tr>

						<tr th:each="employee,state:${employeeList}" th:class="${state.even?'row1':'row2'}">
							<td>
								<span th:text="${employee.id}"></span>
							</td>
							<td>
								<span th:text="${employee.name}"></span>
							</td>
							<td>
								<img th:src="@{/}+${employee.photo}" width="60">
							</td>
							<td>
								<span th:text="${employee.salary}"></span>
							</td>
							<td>
								<span th:text="${#dates.format(employee.birthday,'yyyy/MM/dd')}"></span>
							</td>
							<td>
								<a href="javascript:;" th:onclick="'deleteEmployee('+${employee.id}+')'">Delete</a>

								<!--<a th:href="@{/employee/detail}">更新</a>-->
								<!--<a th:href="@{/employee/detail?id=}+${employee.id}+'&name='+${employee.name}">更新</a>-->
								<!--<a th:href="@{/employee/detail(id=${employee.id},name=${employee.name})}">更新</a>-->
								<a th:href="@{/employee/detail(id=${employee.id})}">Update</a>
							</td>
						</tr>
						<script>
							function deleteEmployee(id){
								console.log(id);
								if(window.confirm('Are you confirm to delete?')) {
									location.href = '[[@{/employee/delete?id=}]]' + id;
								}
							}
						</script>
					</table>
					<p>
						<input type="button" class="button" value="Add" onclick="addEmp()"/>
						<script>
							function addEmp() {
								location.href = '[[@{/addEmp}]]';
							}
						</script>
					</p>
				</div>
			</div>
			<div id="footer">
				<div id="footer_bg">
				ABC@126.com
				</div>
			</div>
		</div>
	</body>
</html>
